table {
  width: 96%;
  border-collapse: collapse;
  margin: 2%;
  margin-top: 0;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  text-align: center;
}

.days {
  width: 20%;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

button {
    cursor: pointer;
    background-color: #56baed;
    border: none;
    color: white;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 20px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

.currentWeek, .currentMonth {
    background-color: #39ace7;;
    border: none;
    color: white;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 20px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header, .footer {
    text-align: center;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  background-color: #56baed;
}

.example-checkbox.mat-checkbox .mat-checkbox-frame {
  height: 20px;
  width: 20px;
}
.example-checkbox.mat-checkbox.mat-checkbox-checked .mat-checkbox-background {
  background-color: #56baed;
}

  
@media print {
    table {
      font-size: 10px;
      height: 80%;
    }
    tr, td {
      margin: 0 !important;
      padding: 2px;
    }
    button {
      display: none;
    }
    .currentMonth {
      display: none;
    }
}