<table>
  <thead>
    <tr>
      <th>Godzina</th>
      <th *ngFor="let day of days">{{ day }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let slot of slots">
      <td>{{ slot.hour }}</td>
      <td *ngFor="let day of days">
        <ng-container *ngIf="getLesson(slot, day) as lesson">
          <div>
            <strong>{{ lesson.name }}</strong>
            <br />
            {{ lesson.startTime }} - {{ lesson.endTime }}
            <br />
            Prowadzący: {{ lesson.instructor }}
            <br />
            Sala: {{ lesson.room }}
          </div>
        </ng-container>
        <div *ngIf="!getLesson(slot, day)">-</div>
      </td>
    </tr>
  </tbody>
</table>
<button (click)="previousWeek()">Poprzedni tydzień</button>
<button (click)="nextWeek()">Następny tydzień</button>
<p class="currentWeek">Tydzień {{ currentWeek }}</p>
<button (click)="printSchedule()">Drukuj plan zajęć</button>
