<div *ngIf="!isLoadedTimeTable" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="isLoadedTimeTable">
  <div class="header">
    <p class="currentWeek">Tydzień <b>{{ getFormattedDate(currentWeek[0]) }} - {{ getFormattedDate(currentWeek[1]) }}</b></p>
    <p class="currentMonth">Miesiąc <b>{{ getFormattedDate(currentMonth[0]) }} - {{ getFormattedDate(currentMonth[1]) }}</b></p>
  </div>
  <table>
    <thead>
      <tr>
        <th>Godzina</th>
        <th *ngFor="let day of days">{{ day.name }} {{ day.date }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hour of hours">
        <td>{{ hour }}</td>
        <td *ngFor="let day of days" class="days">
          <ng-container *ngIf="getLessonInRange(hour, day.name) as lesson">
            <div class="lesson">
              <strong>{{ lesson.NazwaPrzedmiotu }}</strong>
              <br />
              {{ getFormattedTime(lesson.DataStartu) }} - {{ getFormattedTime(lesson.DataKonca) }}
              <br />
              Sala: {{ lesson.NazwaSali }}
            </div>
          </ng-container>
          <input class="example-checkbox" type="checkbox" *ngIf="!getLessonInRange(hour, day.name)" [(ngModel)]="selectedSlots[day.name + '-' + day.date + '-' + hour]" />
        </td>
      </tr>
    </tbody>
  </table>
  <div class="footer">
    <button (click)="previousWeek()">Poprzedni tydzień</button>
    <button (click)="nextWeek()">Następny tydzień</button>
    <button (click)="previousMonth()">Poprzedni miesiąc</button>
    <button (click)="nextMonth()">Następny miesiąc</button>
    <button (click)="printSchedule()">Drukuj plan zajęć</button>
    <button (click)="openModal()">Rezerwuj</button>
  </div>
</div>
