<table>
  <thead>
    <tr>
      <th>Godzina</th>
      <th *ngFor="let day of days">{{ day }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hour of hours">
      <td>{{ hour }}</td>
      <td *ngFor="let day of days">
        <ng-container *ngIf="getLessonInRange(hour, day) as lesson">
          <div>
            <strong>{{ lesson.name }}</strong>
            <br />
            {{ lesson.startTime }} - {{ lesson.endTime }}
            <br />
            Prowadzący: {{ lesson.instructor }}
            <br />
            Sala: {{ lesson.room }}
          </div>
        </ng-container>
        <button *ngIf="!getLessonInRange(hour, day)" (click)="openModal(day, hour)">+</button>
      </td>
    </tr>
  </tbody>
</table>
<button (click)="previousWeek()">Poprzedni tydzień</button>
<button (click)="nextWeek()">Następny tydzień</button>
<p class="currentWeek">Tydzień {{ currentWeek }}</p>
<button (click)="previousMonth()">Poprzedni miesiąc</button>
<button (click)="nextMonth()">Następny miesiąc</button>
<p class="currentMonth">Miesiąc {{ currentMonth }}</p>

<button (click)="printSchedule()">Drukuj plan zajęć</button>
