<div class="container">
    <div class="header">
        <h1>Admin</h1>
        <input *ngIf="firstImport" type="button" value="Pierwszy import rezerwacji" (click)="reimport()">
        <!-- <h2>Dodaj rezerwacje!</h2> -->
        <input *ngIf="!firstImport" type="button" value="Zaimportuj nowe dane" (click)="reimport()">
    </div>
    <div *ngIf="isLoading" class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="isLoading">
      <p>Może to zająć kilka minut...</p>
    </div>
    <div class="container" *ngIf="isLoadedTable">
      <h2>Konflikty</h2>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Data Konca</th>
            <th>Data Startu</th>
            <th>Mail</th>
            <th>Nazwa Przedmiotu</th>
            <th>Potwierdzenie</th>
            <th>Rezerwacja ID</th>
            <th>SALA ID</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of conflicts">
            <tr>
              <td>
                <button (click)="selectItemExisting(item.existingData, item)">Wybierz istniejący</button>
              </td>
              <td>{{item.existingData.DataKonca}}</td>
              <td>{{item.existingData.DataStartu}}</td>
              <td>{{item.existingData.Mail}}</td>
              <td>{{item.existingData.NazwaPrzedmiotu}}</td>
              <td>{{item.existingData.Potwierdzenie}}</td>
              <td>{{item.existingData.RezerwacjaID}}</td>
              <td>{{item.existingData.SALA_ID}}</td>
            </tr>
            <tr>
              <td>
                <button (click)="selectItemNew(item.newItem, item)">Wybierz nowy</button>
              </td>
              <td>{{item.newItem.DataKonca}}</td>
              <td>{{item.newItem.DataStartu}}</td>
              <td>{{item.newItem.Mail}}</td>
              <td>{{item.newItem.NazwaPrzedmiotu}}</td>
              <td>{{item.newItem.Potwierdzenie}}</td>
              <td>nie wprowadzono - konflikt</td>
              <td>{{item.newItem.SALA_ID}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
</div>
