<div id="confirmWindow">
    <h2>Potwierdź usunięcie!</h2>
    <hr>
    <div>
        <div>
            <p>Mail: {{actualElement.mail}}</p>
            <p>Sala: {{actualElement.id}}</p>
            <p>Dnia: {{actualElement.date}}</p>
            <p>Godzina: {{actualElement.hour}}</p>

            <!-- <p>Mail: </p>
            <p>Sala: </p>
            <p>Dnia: </p>
            <p>Godzina: </p> -->
            <hr>
        </div>
    </div>
    <input type="submit" value="potwierdź usunięcie" style="margin: 10px;" (click)="confirmDelete()">
   
</div>