<nav>
	<a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" appHighlight>Strona główna</a>
  <a *ngIf='!role' routerLink="/logowanie" routerLinkActive="active" ariaCurrentWhenActive="page" appHighlight>Logowanie</a>
  <a *ngIf='role === "admin"'  routerLink="/admin" appHighlight>Admin - Rezerwacje</a>
  <a *ngIf='role === "admin"'  routerLink="/admin-rezerwacja" appHighlight>Admin - Import</a>
  <a *ngIf='role === "admin"'  (click)="logout()" appHighlight>Wyloguj</a>
  <div class="animation start-home"></div>
</nav>

