<h2 mat-dialog-title>Rezerwacja zajęć</h2>
<form [formGroup]="reservationForm">
  <mat-dialog-content>
    <p>Sala: {{ data.roomName }}</p>
    <p>ID: {{ data.SalaId }}</p>
   
    <div formArrayName="reservations">
      <div *ngFor="let reservation of reservationForm.get('reservations').controls; let i = index" [formGroupName]="i">
        <p>Dzień: {{ data.slots[i].date }}</p>
        <!-- <p *ngFor="let slot of getSlotsForDay(getUniqueDays()[i])">Godzina: {{ slot.day }} {{ slot.hour }} -  {{ (+slot.hour + 1).toString().padStart(2, '0') }}</p> -->
        <mat-form-field class="form-filed">
          <mat-label>Godzina rozpoczęcia</mat-label>
          <input matInput type="time" formControlName="startTime"  required />
        </mat-form-field>
        <mat-form-field class="form-filed">
          <mat-label>Godzina zakończenia</mat-label>
          <input matInput type="time" formControlName="endTime" required />
        </mat-form-field>
        <mat-form-field class="form-filed">
          <mat-label>Mail</mat-label>
          <input matInput type="mail" formControlName="mail" required />
        </mat-form-field>
        <mat-form-field class="form-filed">
          <mat-label>Nazwa przedmiotu</mat-label>
          <input matInput type="text" formControlName="subjectName" required />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="buttons">
    <button mat-button (click)="onSubmit()">Rezerwuj</button>
  </mat-dialog-actions>
</form>
