.room-list {
    /* width: 500px; */
    margin-left: 50px;
    margin-right: 50px;
}

.book-room-button {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.form-filed {
    margin: 20px;
}


