.room-list {
    /* width: 500px; */
    margin-left: 50px;
    margin-right: 50px;
}

.book-room-button {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.form-filed {
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.searchButton {
    width: 250px;
    height: 50px;
    margin-top: -20px;
}

.buttons, .inputs {
    text-align: center;
    width: 100%;
}

mat-form-field  {
    width: 300px;
}

.noRooms {
    padding: 20px;
}
