<form class="mat-form-field" [formGroup]="sortingForm" (ngSubmit)="onSubmit()">
  <div class="inputs">
    <mat-form-field appearance="fill" class="form-filed">
      <mat-label for="NazwaSali">Nazwa sali</mat-label>
      <input matInput id="NazwaSali" formControlName="NazwaSali">
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-filed">
      <mat-label for="IloscMiejsc">Ilość miejsc</mat-label>
      <mat-select id="IloscMiejsc" formControlName="IloscMiejsc">
        <mat-option value="">Dowolna</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="20">20</mat-option>
        <mat-option value="30">30</mat-option>
        <mat-option value="40">40</mat-option>
        <mat-option value="50">50</mat-option>
        <mat-option value="100">100</mat-option>
        <mat-option value="150">150</mat-option>
        <mat-option value="200">200</mat-option>
        <mat-option value="250">250</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-filed">
      <mat-label for="TypSali">Typ sali</mat-label>
      <mat-select id="TypSali" formControlName="TypSali">
        <mat-option value="">Dowolna</mat-option>
        <mat-option value="didactics_room">Sala dydaktyczna</mat-option>
        <mat-option value="staff_members_room">Pokój personelu</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="buttons">
    <button mat-stroked-button color="secondary" type="submit" class="searchButton">Szukaj</button>
  </div>
</form>

<h2>Dostępne sale</h2>
<div class="room-list">
<div class="mat-elevation-z8" *ngIf="tableLoaded && typesOfClasses.length !== 0">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="NazwaSali">
      <th mat-header-cell *matHeaderCellDef class="room-data">Nazwa sali</th>
      <td mat-cell *matCellDef="let class" class="room-data"><a routerLink="/room" routerLinkActive="active" ariaCurrentWhenActive="page" appHighlight>{{class.NazwaSali}}</a></td>
    </ng-container>

    <ng-container matColumnDef="IloscMiejsc">
      <th mat-header-cell *matHeaderCellDef class="room-data">Ilość miejsc</th>
      <td mat-cell *matCellDef="let class" class="room-data">{{class.IloscMiejsc}}</td>
    </ng-container>

    <ng-container matColumnDef="TypSali">
      <th mat-header-cell *matHeaderCellDef class="room-data">Typ sali</th>
      <td mat-cell *matCellDef="let class" class="room-data">{{class.TypSali}}</td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let class"><button mat-raised-button color="primary" (click)="checkRoomDetails(class)"> Sprawdź </button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>
<div class="mat-elevation-z8" *ngIf="typesOfClasses.length === 0">
  <p class="noRooms">Brak sal</p>
</div>
  <!-- <app-chosen-room *ngIf="classes.selectedOptions.hasValue()" [data]="classes.selectedOptions.selected[0].value"></app-chosen-room> -->
</div>
