<div *ngIf="isLoading" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>
  <div class="table-container" *ngIf="!isLoading">
    <h2 class="table-header">Lista rezerwacji do akceptacji</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
          
      <!-- Mail Column -->
      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef> Mail </th>
          <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
      </ng-container>
          
      <!-- Room Column -->
      <ng-container matColumnDef="room">
        <th mat-header-cell *matHeaderCellDef> Sala </th>
          <td mat-cell *matCellDef="let element"> {{element.room}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <!-- Hour Column -->
      <ng-container matColumnDef="hour">
        <th mat-header-cell *matHeaderCellDef> Godzina </th>
          <td mat-cell *matCellDef="let element"> {{element.hour}} </td>
      </ng-container>
      
      <!-- icons Column -->
      <ng-container matColumnDef="icons">
        <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
            <a (click)="approveRes(element)"><mat-icon>done</mat-icon></a>
            <a (click)="deleteRes(element)"><mat-icon>delete</mat-icon></a>
          </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>