<div class="content">
    <div class="calendar">
        <app-calendar (dateSelected)="onDateSelected($event)"></app-calendar>
    </div>
    <div class="list">
        <app-room-list (reservationData)="setReservation($event)" (chosenClass)="setChosenClass($event)" [selectedDate]="selectedDate"></app-room-list>
        <app-reservation *ngIf="isReservationVisible" (cancelReser)="cancelReservation()" [reservationData]="reservationData"></app-reservation>
    </div>
    <div class="div4">

    </div>
</div>